body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/1600w-kyL4zdu4OLM.webp");
    margin: 0;
    height: 100vb;

}

#foo{
    background-color:  #64259f;
    position: static;
    width: 100%;
    bottom: 0;
    margin-top: 6%;
    
}

.carde{
    background-color: #0c96c8;
    border-radius: 5px;
    height: 35px;

}

h4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-family: 'Courier New', Courier, monospace;
}

#boton{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #0d78dd;
    border-color: hsl(0, 2%, 26%);
}

#boton2{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30%;
    margin-right: 20%;
    background-color: #0d78dd;
    border-color: hsl(0, 2%, 26%);
}

.form-register {
    position: relative;
    margin-top: 5%;
    width: 500px;
    background: #64259f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .re {
    position: relative;
    margin-top: 5%;
    width: 300px;
    background: #64259f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }